<div class="w-full">
  <div class="grid grid-cols-2 gap-0">
    {% for block in section.blocks %}
      {% if block.type == 'image' and block.settings.image != blank %}
        <div class="w-full relative aspect-[3/4]">
          {{ block.settings.image | image_url: width: 1500 | image_tag: 
            loading: 'lazy',
            class: 'w-full h-full',
            alt: ''
          }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Image Gallery",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Password Gallery",
      "category": "Custom",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}